<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
  >
    <mat-toolbar> Task Manager </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/tasks">Tasks</a>
      <a *ngIf="role === 'Admin'" mat-list-item routerLink="/users">Users</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="isSmallScreen">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Welcome, {{ username }}</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
